<template>
  <q-page class="home">
    <Hero></Hero>
    <TwoCol></TwoCol>
    <ImageAction></ImageAction>
    <Carousel></Carousel>
  </q-page>
</template>

<script>
import Hero from '../components/Hero'
import TwoCol from '../components/TwoCol'
import ImageAction from 'components/ImageAction'
import Carousel from 'components/Carousel'

export default {
  name: 'PageIndex',
  components: { ImageAction, Hero, TwoCol, Carousel }
}
</script>

<style lang="scss">
  .home {
    display: flex;
    flex-flow: column;
  }
</style>
