<template>
 <div class="carousel desktop-padding-section">
   <div class="carousel__title desktop-padding font-h3">
     Lorem ipsum dolor sit
   </div>
   <q-carousel
     v-model="slide"
     transition-prev="fade"
     transition-next="fade"
     swipeable
     infinite
     animated
     control-color="primary"
     padding
     arrows
     class="bg-white no-shadow no-border carousel__carousel desktop-padding-carousel"
   >
     <q-carousel-slide :name="1" class="column no-wrap carousel__carousel--slide slide">
       <div class="row fit justify-start q-gutter-xs q-col-gutter no-wrap">
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-1.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-2.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>

         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-3.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <div class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </div>
         </q-card>
       </div>
     </q-carousel-slide>
     <q-carousel-slide :name="2" class="column no-wrap carousel__carousel--slide slide">
       <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-2.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-3.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>

         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-1.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <div class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </div>
         </q-card>
       </div>
     </q-carousel-slide>
     <q-carousel-slide :name="3" class="column no-wrap carousel__carousel--slide slide">
       <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-3.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>
         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-1.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <q-card-section class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </q-card-section>
         </q-card>

         <q-card class="carousel__carousel--slide--item slide__item no-shadow no-border">
           <q-img
             class="slide__item--image"
             src="../assets/carousel-2.jpg"
             :ratio="16/9"
           />
           <q-card-section>
             <div class="slide__item--title font-title">Lorem ipsum dolor sit amet</div>
             <div class="slide__item--text font-main">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
               diam
               nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
           </q-card-section>

           <div class="slide__item--info">
             <div class="slide__item--info--top font-main"><span class="enlarge">14</span> days</div>
             <div class="slide__item--info--bottom">
               <div class="slide__item--info--bottom-left font-small">
                 <div>from</div>
                 <div>£</div>
               </div>
               <div class="slide__item--info--bottom-right"><span class="enlarge">2500</span></div>
             </div>
           </div>
         </q-card>
       </div>
     </q-carousel-slide>
   </q-carousel>
 </div>
</template>

<script>
import app from 'src/common/mixins/app'

export default {
  name: 'Carousel',
  mixins: [app],
  data () {
    return {
      slide: 1
    }
  }
}
</script>

<style lang="scss">
  .carousel {
    &__title {
      font-weight: bold;
      margin-bottom: 48px;
    }
    &__carousel {
      &--item {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .slide {
    padding: 0;
    .q-card__section--vert {
      padding: 0;
    }
    &__item {
      position: relative;
      margin: 0 20px;
      &--title {
        font-weight: bold;
      }
      &--info {
        position: absolute;
        top: 20px;
        padding: 10px !important;
        left: 0;
        background: white;
        border-radius: 0 !important;

        .enlarge {
          font-weight: bold;
        }

        &--bottom {
          display: flex;
          flex-flow: row;
          align-items: center;

          &-left {
            text-align: right;
          }

          &-right {
            margin-left: 5px;

            .enlarge {
              vertical-align: sub;
            }
          }
        }
      }
    }
  }

</style>
