<template>
  <div class="hero no-padding">
    <h1 class="hero__title text-white font-h1">Logo</h1>
    <q-btn class="hero__play bg-white btn-padding" no-caps outline color="lime" label="Play video"
           icon-right="fas fa-play">
        <q-popup-proxy ref="qPopupProxy">
          <q-page class="hero__proxy">
            <q-btn flat icon="fas fa-times" color="white" @click="closePopup" class="hero__proxy--close"></q-btn>
            <q-card class="no-padding no-shadow no-border hero__proxy--card">
                  <q-video
                    class="hero__proxy--video"
                    src="https://player.vimeo.com/external/250591675.hd.mp4?s=683b6a97dac3cb88559fa678af378da3929369fa&profile_id=175"
                  />
            </q-card>
          </q-page>
        </q-popup-proxy>
    </q-btn>
  </div>
</template>

<script>
export default {
  name: 'Hero',
  data () {
    return {
    }
  },
  methods: {
    closePopup () {
      this.$refs.qPopupProxy.hide()
    }
  }
}
</script>

<style lang="scss">
  .hero {
    height: 1000px;
    background: url("../assets/header-hompage-inspirit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__title {
      font-weight: bold;
    }

    &__play {
      font-size: 18px;
      .q-icon {
        font-size: 18px;
      }
    }

    &__proxy {
      background: rgba(0 ,0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 77px 100px;

      &--close {
        position: fixed;
        right: 25px;
        top: 25px;
      }

      &--video,
      &--card {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
