<template>
  <div class="image-action desktop-padding desktop-padding-section">
    <div
      class="image-action__title text-white text-bold"
      :class="{'content-hidden': !showAll}"
    >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    </div>
    <div class="image-action__button">
      <q-btn
        no-caps
        color="lime"
        label="Button"
        class="image-action__button--btn btn-padding"
        @click="showToggle"
      ></q-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageAction',
  data () {
    return {
      showAll: false
    }
  },
  methods: {
    showToggle () {
      this.showAll = !this.showAll
    }
  }
}
</script>

<style lang="scss">
  .image-action {
    min-height: 500px;
    border-top: solid 10px $lime;
    border-bottom: solid 10px $lime;
    background: url("../assets/shark-ray-alley.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &__title {
      font-size: 80px;
      line-height: 92px;
      width: 953px;
      overflow: hidden;

      &.content-hidden {
        height: 199px;
      }
    }
  }
</style>
