<template>
  <div class="nav">
    <q-tabs dense no-caps class="nav__tabs">
      <q-route-tab
        dense
        v-for="page in pageList"
        class="nav__tabs--tab font-nav"
        content-class="nav__tabs--tab--content"
        :key="page.key"
        :to="page.path"
        :label="page.name"
      />
    </q-tabs>
  </div>
</template>

<script>
export default {
  name: 'Nav',
  props: {
    pageList: {
      default: null
    }
  },
  data () {
    return {
      pages: []
    }
  }
}
</script>

<style scoped>

</style>
