<template>
 <div class="two-col desktop-padding desktop-padding-section">
   <q-card class="two-col__col two-col__col--title no-padding no-border no-shadow">
     Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
   </q-card>
   <q-card class="two-col__col two-col__col--regular no-padding no-border no-shadow">
     Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
     dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
   </q-card>
 </div>
</template>

<script>
export default {
  name: 'TwoCol'
}
</script>

<style lang="scss">
  .two-col {
    display: flex;
    flex-flow: row;

    &__col {
      flex: 1;

      &--title {
        font-weight: bold;
        font-size: 28px;
        padding-right: 20px !important;
      }

      &--regular {
        font-size: 16px;
        padding-left: 20px !important;
      }
    }
  }

</style>
