// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#q-app {
  font-weight: normal;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #231f20;
}

.header {
  &__toolbar {
    justify-content: flex-end;
    height: 80px;
    align-items: center;

    &--section {
      font-size: 18px;
      text-transform: capitalize;
    }
  }
}

.login {
  text-transform: capitalize;
  margin-left: 40px;
}

.nav {
  height: 24px;
  width: 500px;
  &__tabs {

    &--tab {
      color: #231f20;
      border-right: solid 1px #231f20;
      min-height: unset !important;

      &:last-of-type {
        border: 0;
      }

      &--content {
        padding: 0;
        min-width: unset !important;
      }

      &.footer-tab {
        color: white;
        border-right: solid 1px white;

        &:last-of-type {
          border: 0;
        }
      }
    }
  }
  &-footer {
    width: 335px;
    margin-left: -35px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-flow: row;
  width: 150px;
  justify-content: space-between;
}

.btn-padding {
  padding: 0 30px;
}

.desktop-padding {
  padding: 0 10vw;

  &-carousel {
    margin: 0 4vw;
    height: auto;
  }

  &-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.font-h1 {
  font-size: 10vw !important;
  line-height: 13vw;
}
.font-h2 {
  font-size: 5vw !important;
  font-size: 6vw;
}
.font-h3 {
  font-size: 3vw !important;
  line-height: 3vw;
}
.font-title,
.font-enlarge {
  font-size: 20px !important;
  line-height: 28px;
}
.font-main {
  font-size: 12px !important;
  line-height: 18px;
}
.font-small {
  font-size: 8px !important;
  line-height: 10px;
}
.font-nav,
.font-action {
  font-size: 14px !important;
  line-height: 20px;
}


@media screen and (min-width: 1400px) {
  .desktop-padding {
    padding: 0 $padding-desktop;

    &-carousel {
      margin: 0 $carousel-padding;
    }

    &-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .font-h1 {
    font-size: 160px !important;
    line-height: 218px;
  }
  .font-h2 {
    font-size: 80px !important;
    font-size: 92px;
  }
  .font-h3 {
    font-size: 40px !important;
    line-height: 40px;
  }
  .font-title,
  .font-enlarge {
    font-size: 28px !important;
    line-height: 40px;
  }
  .font-main {
    font-size: 16px !important;
    line-height: 24px;
  }
  .font-small {
    font-size: 10px !important;
    line-height: 12px;
  }
  .font-nav,
  .font-action {
    font-size: 18px !important;
    line-height: 24px;
  }
}
