
<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-white header" height-hint="80">
      <q-toolbar class="header__toolbar desktop-padding">
        <Nav class="header__toolbar--section" v-if="pageList.length > 0" :pageList="pageList"></Nav>
        <div class="header__toolbar--section">
          <q-btn class="login btn-padding font-action" outline color="lime">Login</q-btn>
        </div>
      </q-toolbar>

    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-black text-white">
      <q-toolbar class="footer desktop-padding">
        <div class="nav nav-footer">
          <q-tabs dense no-caps class="nav__tabs">
            <q-route-tab
              dense
              class="nav__tabs--tab footer-tab font-nav"
              content-class="nav__tabs--tab--content"
              to="terms-conditions"
              label="Terms & Conditions"
            />
            <q-route-tab
              dense
              class="nav__tabs--tab footer-tab font-nav"
              content-class="nav__tabs--tab--content"
              to="privacy"
              label="Privacy Policy"
            />
          </q-tabs>
        </div>
        <div class="icons">
          <q-icon name="fab fa-facebook" color="lime" title="Facebook"></q-icon>
          <q-icon name="fab fa-twitter-square" color="lime" title="Twitter"></q-icon>
          <q-icon name="fab fa-linkedin" color="lime" title="LinkedIn"></q-icon>
        </div>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import Nav from 'components/Nav'
import app from '../common/mixins/app'

export default {
  mixins: [app],
  components: { Nav },
  data () {
    return {
    }
  },
  watch: {
    allPages () {
      this.pageList = this.allPages.payload
    }
  }
}
</script>
